mixin pokeCard(poke)

    div.card(style=`border: 3px solid ${poke.colorone}; background-color: ${poke.colortwo};`)
        div.top
            div.name=poke.name
            div.hp=poke.hp
            img.element(src=poke.element)
        div.middle
            img.picture(src=poke.picture style=`border: 3px solid ${poke.colorone};`)
        div.bottomOne
            div.elementCost
                -for(let i = 0; i < poke.elementcostone; i++)
                    img.element(src=poke.element)
            div.moveNameOne=poke.movenameone
            div.dmgOne=poke.dmgone
        div.bottomTwo
            div.elementCost
                -for(let i = 0; i < poke.elementcosttwo; i++)
                    img.element(src=poke.element)
            div.moveNameTwo=poke.movenametwo
            div.dmgTwo=poke.dmgtwo
        div.characteristics
            div.weakness Weaknesses
            div.resistance Resistance
            div.retreat Retreat cost
        div.lastStuff
            img.elementW(src=poke.elementw)
            img.elementR(src=poke.elementr)
            img.elementT(src=poke.element)